.headerHome {
  position: absolute;
  left: 0%;
  right: 0%;

  top: 0%;
  bottom: 0%;

  background: linear-gradient(
    180deg,
    #e8cdb8 0%,
    rgba(234, 202, 179, 0.35) 100%
  );
  border-radius: 0px 0px 0px 151px;

  width: 380px;
  height: 297px;
  left: -5px;
  top: 0px;
}

.logoImg {
  position: absolute;
  width: 121px;
  height: 105px;
  left: 125px;
  top: 95px;

  background: url(logo.png);
}

.pharmacySearch {
  position: absolute;
  padding-left: 2%;
  width: 232px;
  height: 39px;
  left: 36px;
  top: 362px;
}

.searchBtn {
  position: absolute;
  width: 57.46px;
  height: 30.52px;
  left: 296px;
  top: 369px;

  background: linear-gradient(180deg, #e7c7ae 0%, rgba(231, 199, 174, 0) 100%);
}

.searchToUpdate {
  position: absolute;
  width: 93px;
  height: 14px;
  left: 38px;
  top: 332px;
  font-family: Strong;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

::placeholder {
  position: absolute;
  width: 181px;
  height: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 12px;

  color: #8f8f8f;
}

.or {
  position: absolute;
  width: 276px;
  height: 29px;
  left: 53px;
  top: 469px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;

  color: #000000;
}

.addBtn {
  position: absolute;
  width: 153px;
  height: 36px;
  left: 112px;
  top: 563px;

  background: linear-gradient(180deg, #e7c7ae 0%, rgba(231, 199, 174, 0) 100%);
}
