.switch {
  position: absolute;
  width: 133px;
  height: 14px;
  left: 222px;
  top: 260px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}

.pharmacySearch {
  position: absolute;
  width: 72%;
  height: 6%;
  left: 15%;
  top: 56%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}

.searchBtn {
  position: absolute;
  width: 9%;
  height: 6%;
  left: 78%;
  top: 56%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #e8cdb8 0%,
    rgba(234, 202, 179, 0.35) 100%
  );
}

.searchToUpdate {
  position: absolute;
  width: -2%;
  height: 14px;
  left: 17%;
  top: 50%;
  font-family: Strong;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}

::placeholder {
  position: absolute;
  width: 181px;
  height: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12.5px;
  line-height: 12px;

  color: #8f8f8f;
}

.or {
  position: absolute;
  width: 74%;
  left: 15%;
  top: 69%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 14px;
  color: #000000;
}

.addBtn {
  position: absolute;
  width: 45%;
  height: 5%;
  left: 29%;
  top: 81%;
  background: linear-gradient(180deg, #e7c7ae 0%, rgba(231, 199, 174, 0) 100%);
}
