.pharmName {
  position: absolute;
  left: 6%;
  top: 15%;
  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #a33230;
}
.location {
  position: absolute;
  width: 83%;
  height: 7%;
  left: 11%;
  top: 27%;
  background: rgba(200, 186, 186, 0.2);
}
.phone {
  position: absolute;
  width: 83%;
  height: 7%;
  left: 11%;
  top: 40%;
  background: rgba(200, 186, 186, 0.2);
}
