.pharmName {
	position: relative;
	padding-left: 2%;
	margin-top: 37.7%;
	font-weight: normal;
	text-align: justify;
	left: 6%;
	font-size: 1.3em;
	line-height: 10%;
	color: #a33230;
}
.locationName {
	position: relative;
	padding-left: 2%;
	width: 41%;
	left: 4%;
	background: rgba(0, 0, 0, 0.2);
	color: black;
	margin-top: 30.7%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	line-height: 160%;
}
.location {
	position: relative;
	padding-left: 2%;
	margin-top: -11.3%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	width: 44%;
	color: black;
	left: 50%;
	background: rgba(177, 171, 171, 0.2);
	line-height: 160%;
}

.phoneNo {
	position: relative;
	padding-left: 2%;
	width: 41%;
	background: rgba(0, 0, 0, 0.2);
	color: black;
	margin-top: 11.7%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	line-height: 160%;
	left: 4%;
}
.phone {
	position: relative;
	padding-left: 2%;
	margin-top: -11.3%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	left: 50%;
	line-height: 160%;
	width: 44%;
	color: black;
	background: rgba(177, 171, 171, 0.2);
}

.workHours {
	position: relative;
	padding-left: 2%;
	width: 41%;
	background: rgba(0, 0, 0, 0.2);
	color: black;
	margin-top: 11.7%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	line-height: 160%;
	left: 4%;
}

.hours {
	position: relative;
	padding-left: 2%;
	margin-top: -11.3%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	left: 50%;
	line-height: 160%;
	width: 44%;
	color: black;
	background: rgba(177, 171, 171, 0.2);
}

.offDays {
	position: relative;
	padding-left: 2%;
	width: 41%;
	background: rgba(0, 0, 0, 0.2);
	color: black;
	margin-top: 11.7%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	line-height: 160%;
	left: 4%;
}

.days {
	position: relative;
	padding-left: 2%;
	margin-top: -11.3%;
	font-weight: normal;
	font-size: 1em;
	text-align: justify;
	left: 50%;
	line-height: 160%;
	width: 44%;
	color: black;
	background: rgba(177, 171, 171, 0.2);
}
