.medicineInformation {
  position: absolute;
  width: 308px;
  height: 118px;
  left: 33px;
  top: 79px;

  background: #ffffff;
}

.medicineImage {
  position: relative;
  display: inline;
  width: 108px;
  height: 123px;
}

.nameMed {
  position: absolute;
  width: 153px;
  height: 26px;
  left: 105px;
  top: 17px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
}

.description {
  position: absolute;
  width: 178px;
  height: 39px;
  left: 154px;
  top: 40px;

  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 13px;
  text-align: justify;
  color: #969696;
}
