.header1 {
  position: absolute;
  width: 34%;
  height: 36%;
  left: 36%;
  top: 33%;

  background: linear-gradient(
    180deg,
    #e8cdb8 0%,
    rgba(234, 202, 179, 0.35) 100%
  );
  border-radius: 0px 0px 0px 151px;

  width: 380px;
  height: 297px;
  left: -5px;
  top: 0px;
}

.logo {
  position: absolute;
  width: 121px;
  height: 105px;
  left: 125px;
  top: 95px;

  background: url(logo.png);
}

.switch {
  position: absolute;
  width: 133px;
  height: 14px;
  left: 225px;
  top: 260px;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;

  color: #000000;
}
