h3 {
  position: absolute;
  width: 71%;
  /* height: 14%; */
  left: 14%;
  top: 15%;
  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #a33230;
}

p {
  position: absolute;
  width: 92%;
  /* height: 40px; */
  left: 15px;
  top: 21%;
  font-family: Scope One;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #8395a7;
}

.medicineName {
  position: absolute;
  width: -1%;
  /* height: 13px; */
  left: 6%;
  top: calc(50% - 1% / 2 - 16%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.priceADD {
  position: absolute;
  width: -1%;
  /* height: 13px; */
  left: 5%;
  top: calc(50% - 3% / 2 - 1%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.company {
  position: absolute;
  width: -1%;
  /* height: 13px; */
  left: 6%;
  top: calc(50% - 1% / 2 - -11%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.medName {
  position: absolute;
  width: 88%;
  height: 6%;
  left: 5%;
  top: 37%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
}

.medPrice {
  position: absolute;
  width: 88%;
  height: 6%;
  left: 5%;
  top: 51%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
}

.medCompany {
  position: absolute;
  width: 88%;
  height: 6%;
  left: 5%;
  top: 64%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
}

.presc {
  position: absolute;
  width: 7%;
  /* height: 15px; */
  left: 6%;
  top: 79%;
  background: #d3b9b9;
}

.addInput {
  position: absolute;
  width: 39%;
  height: 6%;
  left: 30%;
  top: 88%;
  background: #ebd6c3;
  border-radius: 20px;
}

.checkboxLabel {
  position: absolute;
  width: 174px;
  height: 15px;
  left: 52px;
  top: 522px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}

.addMsg {
  position: absolute;
  height: 20px;
  left: -78px;
  top: 456px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: green;
}

.addName {
  position: absolute;
  /* height: 20%; */
  left: -25%;
  top: 41%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: red;
}

.addCompany {
  position: absolute;
  /* height: 20%; */
  left: -22%;
  top: 55%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: red;
}

.addPrice {
  position: absolute;
  /* height: 20%; */
  left: -26%;
  top: 68%;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: red;
}
