h3 {
  position: relative;
  width: 71%;
  left: 14%;
  margin-top: 31%;
  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  color: #a33230;
}

.discrip {
  width: 92%;
  margin-top: -5%;
  margin-left: 3%;
  font-family: Scope One;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 23px;
  text-align: center;
  color: #ff0000;
}

.addForm {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-flow: column wrap;
}

.info {
  width: 90%;
  padding: 2%;
  margin-top: 3%;
}

.label {
  margin-top: 7%;
  font-size: 1rem;
}

.submitInfo {
  width: 38%;
  margin-left: 28%;
  padding: 2%;
  margin-top: 13%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #e8cdb8 0%,
    rgba(234, 202, 179, 0.35) 100%
  );
}

.checkboxInfo {
  width: 11%;
  margin-top: 11%;
}
