.name {
  position: absolute;
  width: 30%;
  left: 11%;
  top: calc(50% - 0% / 2 - 15%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.nameStyle {
  position: absolute;
  width: 77%;
  height: 5%;
  left: 11%;
  top: 39%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
}

.priceCSS {
  position: absolute;
  width: 30%;
  left: 11%;
  top: calc(50% - 0% / 2 - 4%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.priceStyle {
  position: absolute;
  width: 77%;
  height: 5%;
  left: 11%;
  top: 50%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
}
.companyName {
  position: absolute;
  width: -1%;
  left: 11%;
  top: calc(46% - 1% / 2 - -11%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.companyStyle {
  position: absolute;
  width: 77%;
  height: 5%;
  left: 11%;
  top: 60%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
}
.descriptionForm {
  position: absolute;
  width: -1%;
  left: 11%;
  top: calc(66% - 0% / 2 - 0%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.descriptionStyle {
  position: absolute;
  width: 77%;
  height: 10%;
  left: 11%;
  top: 70%;
  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
  justify-content: flex-start;
}
.preseption {
  width: 20px;
  height: 15px;
  left: 42px;
  top: 554px;

  background: #c4c4c4;
  position: absolute;
}
.preseptionText {
  position: absolute;
  width: 36%;
  left: 20%;
  top: 83%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
.quantity {
  position: absolute;
  width: 6%;
  height: 2.3%;
  left: 11%;
  top: 87%;
  background: #c4c4c4;
}
.quantityText {
  position: absolute;
  width: 174px;
  height: 15px;
  left: 73px;
  top: 581px;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #000000;
}
.Update {
  position: absolute;
  width: 24%;
  height: 5%;
  left: 41%;
  top: 94%;
  background: #ebd6c3;
  border-radius: 10px;
}
.updateMsg {
  position: absolute;
  height: 20px;
  left: 29px;
  top: 642px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: green;
}
