.upForm {
  margin-top: 65%;
  padding-top: 10%;
  margin-left: 5%;
  padding: 10%;
  width: 90%;
}
.checks {
  margin-top: 7%;
  display: block;
  margin-bottom: 7%;
}
.name {
  position: relative;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.upForm input {
  margin-top: 1%;
  margin-bottom: 3%;
  padding: 3%;
}
.nameStyle {
  position: relative;
  width: 77%;
  height: 5%;

  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
  display: block;
}

.priceCSS {
  position: relative;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.priceStyle {
  position: relative;
  width: 77%;
  height: 5%;

  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
  display: block;
}
.companyName {
  position: relative;
  width: -1%;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
}

.companyStyle {
  position: relative;
  width: 77%;
  height: 5%;

  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
  display: block;
}
.descriptionForm {
  position: relative;
  width: -1%;

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.descriptionStyle {
  position: relative;
  width: 77%;
  height: 50%;

  background: #ffffff;
  border: 1px solid #8395a7;
  box-sizing: border-box;
  justify-content: flex-start;
  display: block;
}
.preseption {
  background: #c4c4c4;
  position: relative;
}
.preseptionText {
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.quantity {
  background: #c4c4c4;
  position: relative;
}
.quantityText {
  position: relative;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  display: block;
}
.Update {
  position: relative;
  display: block;
  width: 46%;
  height: 5%;
  background: #ebd6c3;
  border-radius: 10px;
  margin-left: 18%;
}
.updateMsg {
  position: relative;
  display: block;

  height: 20px;
  left: 29px;
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 19px;
  color: green;
}
