.input1 {
  position: relative;
  width: 86%;
  padding: 4%;
  left: 8%;
  margin-top: 96%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}
.input2 {
  position: relative;
  width: 86%;
  padding: 4%;
  left: 8%;
  margin-top: 9%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}
.login {
  position: relative;
  width: 36%;
  height: 11%;
  left: 30%;
  padding: 2%;
  margin-top: 14%;
  background: #e8cdb8;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}

::placeholder {
  padding-left: 5%;
}

.invalidMsg {
  color: red;
  margin-left: 22%;
  margin-top: -18%;
}
