.input1 {
  position: absolute;
  width: 82%;
  height: 6%;
  left: 10%;
  top: 54%;
  background: #ffffff;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}
.input2 {
  position: absolute;
  width: 83%;
  height: 6%;
  left: 9%;
  top: 63%;
  background: #ffffff;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}
.login {
  position: absolute;
  width: 36%;
  height: 6%;
  left: 30%;
  top: 80%;
  background: #e8cdb8;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}

::placeholder {
  padding-left: 5%;
}
