.resultpharmacyInfo {
  display: flex;
  width: 400px;
  height: 100;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  position: relative;
  top: 272px;
}
.pharmacyInfo {
  position: absolute;
  width: 340px;
  height: 80px;
  left: 17px;
  top: 300px;
  background: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.25);
}
.NamePharm {
  position: absolute;
  width: 28%;
  left: 4%;
  top: 25%;
  font-family: SeoulHangang;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 19px;
  color: #a33230;
}

.price {
  position: absolute;
  width: -1%;
  left: 55%;
  top: calc(50% - 38% / 2 - 1%);
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}
