.NavBar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  width: 100%;
  height: 10%;
  left: 0%;
  top: 0%;
  background: #ebd6c3;
}
.logoDiv {
  background: url(logo2.svg);
  background-repeat: no-repeat;
  left: 2.4%;
  right: 82.67%;
  top: 15.52%;
  bottom: 10.34%;
  position: absolute;
}

.home {
  position: absolute;
  margin-top: 6%;
  margin-left: 19%;
  color: #a33230;
}

.switch1 {
  margin-top: 6%;
  margin-left: 84%;
}
