span {
  position: absolute;
  width: 268px;
  height: 79px;
  left: 56px;
  top: 327px;
  font-family: Karla Tamil Inclined;
  font-style: italic;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;

  color: #000000;
}
.searchBar {
  position: absolute;
  width: 232px;
  height: 39px;
  left: 56px;
  top: 406px;
}
button {
  position: absolute;
  width: 50px;
  height: 27.52px;
  left: 310px;
  top: 411px;
}