span {
  position: absolute;
  width: 268px;
  height: 79px;
  left: 56px;
  top: 327px;
  font-family: Karla Tamil Inclined;
  font-style: italic;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;

  color: #000000;
}
.searchBar {
  position: absolute;
  width: 72%;
  height: 6%;
  left: 15%;
  top: 61%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}
button {
  position: absolute;
  width: 9%;
  height: 6%;
  left: 78%;
  top: 61%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
  background: linear-gradient(
    180deg,
    #e8cdb8 0%,
    rgba(234, 202, 179, 0.35) 100%
  );
}

.By-Location {
  position: absolute;
  width: 73%;
  height: 6%;
  left: 14%;
  top: 71%;
  padding: 3%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}

.By-Pharmacy {
  position: absolute;
  width: 73%;
  height: 6%;
  left: 14%;
  top: 80%;
  padding: 3%;
  border: 1px solid #b6b1b1;
  box-sizing: border-box;
  border-radius: 20px;
}
